.characterPage {
    background-image: url("./assets/RickandMorty.png");
    /* background-repeat: repeat-x; */
    background-size: cover;
}

h3 {
    font-size: 30px
}

.characterImg {
    size: 1000px;
}

.soWhat {
    font-size: 32px;
}

.charList {
    background-image: url('./assets/ricknMortySnow.png');

    background-size: cover;
}

.RnM_Info {
    background-image: url('./assets/ricknMortySmokinJoint.png');

    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    font-size: 17px;
    color:darkgreen
}

strong {
    font-size: 20px;
    color:blue;
}

span {
    color: gold;
}

body {
    background-image: url('./assets/Rick.png');
    /* background-size: 90%; */
    background-position: left;
    background-repeat: no-repeat;
}

.title {
    margin-top: -36px;
    margin-bottom: 11px;
    padding: 20px;
    color: aqua;
}

.expectingYou {
    color: crimson;
    padding-top: 59px;
    padding-bottom: 93px;
    margin-top: 69px;
    margin-bottom: -15px;
    font-size: 30px;
}